

  <h1>Apprendre le vrai japonais !</h1>
  <p>Find me in app/views/toppages/index.html.erb</p>
  <%= link_to 'reservations/index', 'https://ea560388419f458c869f9c460fea25f4.vfs.cloud9.us-east-2.amazonaws.com/reservations' %>

<p>test</p>