<h1 class="title text-center">Apprendre le <span class="red">vrai</span> japonais !</h1>
  <h3 class="path"><a class="path" href="/reservations"><i class="far fa-calendar-minus"></i>Choisir une disponibilité et réserver le cours</a></h3>
  <div class="cover">
    <div class="top-cover"></div>
  <div class="explanations col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
    <h3 class="title">Apprenez le japonais avec un locuteur natif en ligne !</h3>
    <h4><i class="fas fa-graduation-cap"></i>Prof expérimenté</h4>
    <h4><i class="fas fa-tasks"></i>Programmes personnalisés</h4>
    <h4><i class="fas fa-globe-asia"></i>Où que vous soyez</h4>
    <h4><i class="far fa-money-bill-alt"></i>Prix abordable</h4>
  </div>
  </div>
  
<div class="questions col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
  <h2 class="title">QUESTIONS</h2>
  <div class="question">
    <h3 class="heading">Q1: Comment ça marche ?</h4>
    <p>1 Choisissez votre disponibilité sur le calendrier, cliquez, votre réservation est faite !</p>
    <p>2 Vous pouvez vérifier votre réservation sur la page 'Mon espace' </p>
    <p>3 Retrouvez la tuteur sur Skype</p>
    <h3 class="path"><a class="path" href="/reservations"><i class="far fa-calendar-minus"></i>Choisir une disponibilité et réserver le cours</a></h3>
  </div>
  <div class="question">
    <h3 class="heading">Q2: Comment annuler le cours ?</h4>
    <p>Cliquez le bouton <span class="red">‘Annuler’</span> sur la page votre espace.</p>
    <p>Si vous souhaitez annuler le cours, il est conseillé d’annuler avant la veille.</p>
  </div>
    <div class="question">
    <h3 class="heading">Q3: Combien sont les tarifs ?</h3>
    <p>Le premier cour est offert, après il sont 20€/h.</p>
  </div>
  <div class="question">
    <h3 class="heading">Q4: Faut-il acheter des livres de japonais ?</h4>
    <p>Non, ce n’est pas obligatoire. Nous pourrons faire des cours sans livres (j’ai déjà fait des cours sans livres !), mais sachez qu’il est possible que je vous conseille d’acheter des livres selon votre niveau ainsi que but. Dans le premier cours, nous déciderons comment organiser des cours selon ce que vous souhaitez.
</p>
  </div>
  <div class="question">
    <h4>Si vous avez d'autres questions, n'hésitez pas à me contacter. </h4>
    <h3 class="path"><a class="path" href="/reservations"><i class="far fa-paper-plane"></i>Aller au contact form</a></h3>
  </div>

</div>

<div class="parent-about-container col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
  <h2 class="title"><a name="about">A PROPOS</a></h2>
  <div class="about-container">
    <div class="french">
      <img class="photo" src="/images/about.jpg">
      <div class="col-md-7">
        <h4>C'est qui la prof ?</h4>
        <p>Je m’appelle Koto. Etant origine japonaise, j’ai fait mes études au Japon ainsi qu’en France. En master, j’ai étudié la communication en master. En dehors des études, j’ai effectué des traductions (FR/JP). Actuellement, j’enseigne le japonais aux Français qui ont le but d’étudier au Japon, pour le plaisir, etc. 
        <br>Mes passions sont le voyage, la randonnée, le piano et le film. En habitant en France, la seule chose (presque) qui me manque du Japon, c'est l'onsen(eaux thermeaux; il y en a beaucoup au Japon). me manque ces temps derniers !</p>
      </div>
    </div>
    <div class="japanese">
      <div class="col-md-7">
        <h4>先生はどんな人？</h4>
        <p>日本生まれ、日本育ち。お茶の水女子大学在学中、フランスへ留学。大学卒業後はフランスの大学院でコミュニケーションを専攻。学業のかたわら、日本語フランス語の翻訳を手がける。現在は趣味から留学準備等幅広い目的を持った、子ども・高校生から大人まで様々な年代のフランス人にマンツーマンで日本語を教えている。授業は受講者それぞれの希望・要望を聴きながら、個別に組み立てられる。
        道路で乗馬する人がいたり、星がとてもきれいにみえる、
        <br>フランスの田舎在住。趣味は旅行・散歩・ピアノ・ストレッチ・映画。温泉が恋しい今日この頃。</p>
      </div>

    </div>
  </div>
</div>