<h1>Reservations#create</h1>
<p>Find me in app/views/reservations/create.html.erb</p>

<p>Votre prochain cours sera à </p>

<h3><%= params[:reserved_at] %></h3>


<%= link_to 'Valider', reservation_valider_path %>
<%= link_to 'Modifier', "/reservations" %>

